body {
  background: linear-gradient(
    90deg,
    rgba(68, 68, 54, 1) 32%,
    rgba(31, 31, 70, 1) 71%,
    rgba(57, 43, 77, 1) 100%
  );
}
.heading {
  color: rgb(244, 239, 233);
  font-size: 25px;
  margin-top: 6px;
  margin-left: 9px;
  background-color: black;
  height: 40px;
  width: 100%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.text {
  color: white;
  font-size: bold;
  font-size: 30px;
  align-items: center;
  text-align: center;
}
.content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  justify-content: space-between;
  width: 250px;
  height: 450px;
  color: wheat;
  box-shadow: 0 5px 6px 0 rgb(84, 81, 81);
}
.img-div {
  height: 250px;
  width: 200px;
}
.img-details-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: whitesmoke;
  line-height: 3;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 32%,
    rgba(0, 0, 1, 1) 53%,
    rgba(167, 108, 108, 1) 100%
  );
}
.img-details-container > img {
  flex: 1;
}
.img-details {
  box-shadow: 0 6px 6px 0 rgb(36, 36, 36);
  width: 500px;
  height: min-content;
}
